*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/app/debug/app-debug.apk
/app/debug/output-metadata.json
*.aab
*.apk
/app/release/*.aab
